.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 85px;
	width: 100%;
	white-space: nowrap;
}

.header__nav-list {
	display: flex;
	column-gap: min(70px, 3vw);
}

.header__nav-link {
	transition-duration: 0.3s;
}

.header__nav-link:hover,
.btn:hover {
	color: var(--color-accent);
}

.header__actions {
	display: flex;
	column-gap: min(35px, 2vw);
}

@media (max-width: 992px) {
	.btn {
		font-size: inherit;
	}
}

@media (max-width: 768px) {
	.header__nav {
		display: none;
	}

	.btn--secondary {
		padding-inline: 30px;
	}
}
