.hero {
	width: 100%;
	height: 895px;
	background: url('/assets/images/hero_bg.webp') center/cover no-repeat;
}

.hero__inner {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
  padding-top: 180px;
	max-width: 420px;
}

.hero__title {
	font-size: 65px;
	color: var(--color-accent);
}

.hero__desc {
	font-weight: 400;
	color: var(--color-gray);
	margin-block: 25px 50px;
}
